fastapi
uvicorn
pydantic
sentence-transformers
faiss-cpu
numpy
transformers
torch
indic-transliteration
googletrans==4.0.0rc1
opencv-python
mediapipe
chromadb
pyttsx3
SpeechRecognition
lang-detect
librosa
sounddevice